a {
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  color: var(--nextui-colors-gray800);
  filter: brightness(0) saturate(100%) invert(68%) sepia(7%) saturate(241%)
    hue-rotate(165deg) brightness(93%) contrast(90%);
}
a:hover {
  color: var(--nextui-colors-text);
  filter: brightness(0) saturate(100%) invert(93%) sepia(1%) saturate(31%)
    hue-rotate(158deg) brightness(98%) contrast(94%);
}
.hover {
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  color: var(--nextui-colors-gray800);
  filter: brightness(0) saturate(100%) invert(68%) sepia(7%) saturate(241%)
    hue-rotate(165deg) brightness(93%) contrast(90%);
}
.hover:hover {
  color: var(--nextui-colors-text);
  filter: brightness(0) saturate(100%) invert(93%) sepia(1%) saturate(31%)
    hue-rotate(158deg) brightness(98%) contrast(94%);
}

html {
  scroll-behavior: smooth;
}

.nextui-input-main-container {
  --nextui--inputHoverBorderColor: var(--nextui-colors-gray600) !important;
  --nextui--inputLabelColor: var(--nextui-colors-gray900) !important;
}

.nextui-input-main-container[class*="-status-error"] {
  --nextui--inputHoverBorderColor: var(--nextui-colors-error) !important;
  --nextui--inputLabelColor: var(--nextui-colors-errorLightContrast) !important;
}

.nextui-input-block-label {
  transition: var(--nextui-transitions-default) !important;
  z-index: 10000;
  position: absolute;
  top: -50%;
}





input[type="number"]{
  color: var(--nextui-colors-text) !important;
}

input[data-state="with-value"]{
  color: var(--nextui-colors-text) !important;
}


input[data-state="with-value"]:disabled {
  color: var(--nextui-colors-text) !important;
}



input:disabled {
  color: var(--nextui-colors-accents6) !important;
}



input {
  color: var(--nextui-colors-accents6) !important;
  user-select: all;
  cursor: text !important;
  pointer-events: all !important;
}

input[type="text"]{
  color: var(--nextui-colors-text) !important;
}



.nextui-input-main-container.nextui-input-main-container--with-value
  .nextui-input-block-label[class*="-asPlaceholder-true"] {
  top: -50% !important; 
  color: var(--nextui--inputLabelColor);
}

.nextui-input-main-container--read-only
.nextui-input-block-label{
  top: -50% !important; 
  color: var(--nextui--inputLabelColor);
}

.nextui-input-main-container.nextui-input-main-container--hover
  .nextui-input-block-label {
  top: -50% !important;
  transform: translateY(calc(var(--nextui-space-1) * -1));
  color: var(--nextui--inputLabelColor);
}

input:disabled ~ .nextui-input-clear-button {
  display: none;
}
