a {
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  color: var(--nextui-colors-gray800);
  filter: brightness(0) saturate(100%) invert(68%) sepia(7%) saturate(241%)
    hue-rotate(165deg) brightness(93%) contrast(90%);
}
a:hover {
  color: var(--nextui-colors-text);
  filter: brightness(0) saturate(100%) invert(93%) sepia(1%) saturate(31%)
    hue-rotate(158deg) brightness(98%) contrast(94%);
}
.hover {
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  color: var(--nextui-colors-gray800);
  filter: brightness(0) saturate(100%) invert(68%) sepia(7%) saturate(241%)
    hue-rotate(165deg) brightness(93%) contrast(90%);
}
.hover:hover {
  color: var(--nextui-colors-text);
  filter: brightness(0) saturate(100%) invert(93%) sepia(1%) saturate(31%)
    hue-rotate(158deg) brightness(98%) contrast(94%);
}
